.managementPage {
    height: 85vh;
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.diaryEntriesSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
}

.enteredSongs {
    display: flex;
    flex-direction: row;
}

.entryDetails {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding-bottom: 2rem;
}

.entryOptions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.addSong {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
