.admin-navbar {
    background-color: #1c2833;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .admin-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .admin-navbar-link {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .admin-navbar-link:hover {
    background-color: #566573;
    color: #f7f9f9;
  }
  
  .admin-navbar-link:active {
    background-color: #1abc9c;
    color: #f7f9f9;
  }
  