footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.viewSwitch{
    display: flex;
    flex-direction: row;
}

.viewSwitch p{
    padding: 0.2rem;
}